* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
::selection {
  background: var(--primary);
  color: white;
}
html,body,.cf,#app {
  height: 100%;
}
html {
  font-size: 16px;
  font-family: 'Work Sans',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.5;
  letter-spacing: -.5px;
  scroll-behavior: smooth;
  color: var(--dark3);
}
.cf {
  display: flex;
  flex-direction: column;
  // padding-bottom: 5em;
}

img {
  max-width: 100%;
}
#app {
  overflow: hidden;
}
