h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 3rem 0 1.5rem ;
  text-transform: capitalize;
  color: var(--dark1);
}
h1 {
  font-size: calc(2.5em + 1vw);
  font-weight: 700;
  margin: 1.5rem 0;
}
h2 {
  font-size: calc(1.7em + .5vw);
  font-weight: 700;
}
h3 {
  font-size: calc(1.2em + .5vw);
}
h4 {
  font-size: calc(1.2em);
}
h5 {
  font-size: calc(1);
}
a {
  text-decoration: none;
  color: var(--primary);
  transition: 0.1s ease;
  border-bottom: 1px dotted rgba(0,0,0,0);
}
a:hover {
  border-bottom: 1px dotted var(--primary);
}