<template>
  <Layout>

    <ca-hero
      :templateContent="true" 
      :customClass="hero.customClass" 
      :h1="$page.blogPost.title" 
      :cloudinaryImg="imgTransform($page.blogPost.post_thumb)" 
      :summary="$page.blogPost.summary"
      :date="$page.blogPost.date"
      :tags="$page.blogPost.tags"
    />
    
    <transition name="fade" appear>
      <div class="ca-post-container">
        <main class="ca-post-content">
          <div v-html="$page.blogPost.content"></div>
        </main>
        <aside class="ca-post-sb">
          <!-- sidebar -->
        </aside>
      </div>
    </transition>
    
  </Layout>
</template>

<page-query>
query BlogPost ($path: String!) {
  blogPost: blogPost (path: $path) {
    id
    title
    summary
    post_thumb
    tags {
      title
      path
      id
    }
    content
    date (format: "D MMMM YYYY")
  }
}
</page-query>

<script>
import Hero from '~/components/Hero'
export default {
  components: {
    caHero: Hero,
  },
  data() {
    return {
      cloudinaryUrl: 'https://res.cloudinary.com/chrisace/image/upload/',
      cloudinaryTransformation: 'w_400,f_auto,q_auto,ar_1:1,c_fill',
      hero: {
        customClass:'post',
      },
    }
  },
  methods: {
    imgTransform(e) {
      const splitter = '/image/upload/'
      const imgUrl = e.split(splitter);
      // console.log(imgUrl);
      return `${imgUrl[0]}${splitter}${this.cloudinaryTransformation}/${imgUrl[1]}`
    },
  }
}
</script>

<style scoped>

.ca-post-container {
    max-width: 1000px;
    width: 100%;
    padding: 3rem 2rem 6rem;
    margin: 0 auto;
  }

  
  @media screen and (min-width: 768px) {

    .ca-post-container {
      display: grid;
      grid-template-columns: 1fr 15rem;
      grid-gap: 4rem;
    }
  }
</style>