<template>
  <Layout>
    <ca-hero>
      <h1 class="ca-hero__h1"><span class="tag">#</span> {{ $page.tag.title }}</h1>
    </ca-hero>

    <transition name="fade" appear>
      <main class="ca-tagged-posts">

        <ca-posts 
          customClass="tag"
          :showPager="true" 
          :postsInfo="$page.tag.belongsTo.edges" 
          :pagerInfo="$page.tag.belongsTo.pageInfo"
        />

      </main>
    </transition>
  </Layout>
</template>

<page-query>
query Tag ($id: ID!, $page:Int) {
  tag (id: $id) {
    title
    belongsTo(perPage: 10, page: $page) @paginate {
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          ...on BlogPost {
            id
            title
            summary
            date (format: "D MMMM YYYY")
            path
            tags {
              title
              path
              id
            }
            post_thumb
          }
        }
      }
    }
  }
}
</page-query>

<script>
import BlogList from '~/components/BlogList'
import Hero from '~/components/Hero'

export default {
  components: {
    caPosts: BlogList,
    caHero: Hero,
  },
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style scoped>
  .ca-tagged-posts {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }
  .ca-hero__h1 {
    text-align: center;
  }
</style>

