<template>
  <Layout>

    <main>
      <ca-hero
        :templateContent="true" 
        :customClass="hero.customClass" 
        :h1="hero.h1" 
        :imgSrc="hero.imgSrc" 
        :summary="hero.summary"
      />
    </main>

    <transition name="fade" appear>
      <section class="about-more">
        <h2 class="about-more__title">More On Me</h2>
        <div class="ca-3">
          <ca-card
            :cardTitle="card1.title"
            :cardDescr="card1.descr"
            :cardImg="card1.image"
            customClass="card1"
          />
          <ca-card
            :cardTitle="card2.title"
            :cardDescr="card2.descr"
            :cardImg="card2.image"
            customClass="card2"
          />
          <ca-card
            :cardTitle="card3.title"
            :cardDescr="card3.descr"
            :cardImg="card3.image"
            customClass="card3"
          />
            
        </div>
      </section>
    </transition>


  </Layout>
</template>

<script>
import Hero from '~/components/Hero'
import Card from '~/components/Card'
export default {
  components: {
    caHero: Hero,
    caCard: Card,
  },
  metaInfo: {
    title: 'About Me'
  },
  data() {
    return {
      hero: {
        customClass:'about',
        h1: 'Aboot',
        imgSrc: 'about/me.png',
        summary: 'Just another guy. I wanted to build this personal site as a learning experience. Maybe i\'ll edit this more another day.',
      },
      card1: {
        title: 'Developer',
        image: 'about/dev.jpg',
        descr: 'I like to code sometimes. At the moment, I am loving the JAMStack with Gridsome and Nuxt. VueJS Ftw!'
      },
      card2: {
        title: 'Gamer',
        image: 'about/gamer.jpg',
        descr: 'While I like to play video games, i\'m also extremely picky with them. My favs at the moment are Final Fantasy XIV, Zero Horizon Dawn, Octopath Traveler, and Street Fighter.'
      },
      card3: {
        title: 'Dada',
        image: 'about/father.jpg',
        descr: 'I\'m a proud Dada! Even though Elyse loves her Mama more, she\'ll always be my little baby girl.'
      },
    }
  },
}
</script>

<style scoped>

.about-more {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 3rem 2rem;
}
.about-more__title {
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 992px) {
  .ca-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
</style>