<template>
  <Layout class="ca--gear">

    <ca-hero
      :templateContent="true" 
      :customClass="hero.customClass" 
      :h1="hero.h1" 
      :imgSrc="hero.imgSrc" 
      :summary="hero.summary"
    />

    <transition name="fade" appear>
      <main class="gear">
        
        <section class="gear__section gear__section--pc">
          <h2 class="gear__section-title">{{ pc.title }}</h2>
          <g-image alt="PC Battle Station" :src="heroImgs.pc" width="1000" />
          <h3>Specs</h3>
          <div class="gear-3">
            <ca-list :printKeys="true" :listItems="pc.pc1" />
            <ca-list :printKeys="true" :listItems="pc.pc2" />
            <ca-list :printKeys="true" :listItems="pc.pc3" />
          </div>
        </section>


        <section class="gear__section gear__section--web">
          <h2 class="gear__section-title">{{ web.title }}</h2>
          <g-image alt="PC Battle Station" :src="heroImgs.web" width="1000" />
          <h3>Specs</h3>
          <div class="gear-3">
            <ca-list :printKeys="true" :listItems="web.web1" />
            <ca-list :printKeys="true" :listItems="web.web2" />
            <ca-list :printKeys="true" :listItems="web.web3" />
          </div>
        </section>

        <section class="gear__section gear__section--photo">
          <h2 class="gear__section-title">{{ photo.title }}</h2>
          <g-image alt="PC Battle Station" :src="heroImgs.photo" width="1000" />
          <div class="gear-4">
            <div class="gear__subsection">
              <h3 class="gear__subtitle">{{photo.cameras.title}}</h3>
              <ca-list :listItems="photo.cameras.cameras" />
            </div>
            <div class="gear__subsection">
              <h3 class="gear__subtitle">{{ photo.afLenses.title }}</h3>
              <ca-list :listItems="photo.afLenses.lenses" />
            </div>
            <div class="gear__subsection">
              <h3 class="gear__subtitle">{{ photo.manualLenses.title }}</h3>
              <ca-list :listItems="photo.manualLenses.lenses" />
            </div>
            <div class="gear__subsection">
              <h3 class="gear__subtitle">{{ photo.misc.title }}</h3>
              <ca-list :listItems="photo.misc.items" />
            </div>
          </div>
        </section>

      </main>
    </transition>
    
  </Layout>
</template>

<script>
import Hero from '~/components/Hero'
import List from '~/components/List'
export default {
  components: {
    caHero: Hero,
    caList: List,
  },
  metaInfo: {
    title: 'My Gear'
  },
  data() {
    return {
      hero: {
        customClass:'gear',
        h1: 'Gear',
        imgSrc: 'gear/gear.png',
        summary: 'Here’s a collection of all the gear and associated items that I have/use. Items include my web development space, gaming battle station, cameras, and whatever else I care to list here.',
      },
      pc: {
        title: 'PC Battle Station',
        pc1: {
          CPU: 'AMD Threadripper 1950x',
          GPU: 'MSI 2080Ti Ventus',
          RAM: '4x8gb Corsair Vengeance',
          PSU: 'EVGA 850w g2',
          MOBO: 'Asrock x399m Taichi',
          Case: 'Corsair 280x',
          SSD: '2x m.2 nvMe, 1x sata',
        },
        pc2: {
          Monitor: 'Alienware 34” 120hz Gsync',
          Keyboard: 'Poker II',
          'Mouse 1': 'Elecom Deft Pro Trackball',
          'Mouse 2': 'Glorious PC Model O-',
          Mousepad: 'Generic',
          Desk: 'Uplift Desk 80”',
        },
        pc3: {
          Chair: 'Herman Miller Embody',
          Speakers: 'KEF Q150',
          'DAC/AMP': 'SMSL AD18',
          Headphones: 'Sony MDR-MA900',
          'Fight Stick': 'Hori Real Arcade Pro 4',
          Controllers: 'Dualshock 4 & Xbox 1 ',
        },
      },
      web: {
        title: 'Web Dev Station',
        web1: {
          Laptop: '2014 Macbook Pro 13”',
          RAM: '8gb',
          SSD: '256gb',
          OS: 'Catalina',
        },
        web2: {
          Monitor: '2x Achieva Shimian 1440p',
          Keyboard: 'Ergodox Infinity',
          'Mouse 1': 'Elecom Thumb Trackball',
          Desk: 'Ikea Frederik',
        },
        web3: {
          Chair: 'Uplift Desk Pursuit',
          Speakers: 'KRK RP6',
          'DAC/AMP': 'Schiit Bifrost & Asgard',
          Headphones: 'Sennheiser HD600',
        },
      },
      
      photo: {
        title: 'Photography',
        cameras: {
          title: 'Cameras',
          cameras: ['Sony a7iii','Sony a6000','Samsung Galaxy s9']
        },
        afLenses:{
          title: 'AF Lenses',
          lenses: [
            'Tamron 24-70 f/2.8',
            'Sony 85mm f/1.8',
            'Samyang 35mm f/2.8',
            'Rokinon 12mm f/2.0',
            'Sony 16-50mm Kit',
          ],
        },
        manualLenses: {
          title: 'Manual Lenses',
          lenses: [
            'Nikon 105mm f/2.8',
            'Nikon 50mm f/1.8 AI',
            'Minolta 55mm f/1.7',
            'Canon 24mm f/2.0',
            'Pentax 28mm f/3.5',
            'Zeiss 50mm f/1.7',
            'Zeiss 35-70mm f/3.5',
            'Konica 35mm f/2.8',
          ]
        },
        misc:{
          title: 'Lighting/Misc',
          items: [
            'Wireless: Godox R2Pro S',
            'Flash: Godox TT350s',
            'Pocket Flash: Godox AD200',
            'Mic: Rode Video Micro',
          ]
        }
      }
    }
  },
  computed: {
    heroImgs() {
      return {
        hero: require('!!assets-loader!~/images/gear/hero-pc.jpg'),
        pc: require('!!assets-loader!~/images/gear/hero-pc.jpg'),
        web: require('!!assets-loader!~/images/gear/hero-web.jpg'),
        photo: require('!!assets-loader!~/images/gear/hero-camera.jpg'),
      }
    }
  }
}
</script>

<style scoped>
.gear {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.gear__section {
  margin-bottom: 3rem;
}

.list__item--title {
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}

@media screen and (min-width: 992px) {

  .gear-3 {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
  .gear-4 {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }
  
}



</style>
