<template>
  <Layout>
    <main class="ca-home">

      <ca-latest-post post-heading="Latest Post" />

      <transition name="fade" appear>
      <section class="ca-home-posts">
        <h2 class="ca-home-posts__title">More Posts</h2>
        <ca-posts 
          customClass="home"
          :showPager="false" 
          :postsInfo="$page.allBlogPost.edges" 
          :pagerInfo="$page.allBlogPost.pageInfo"
        />
      </section>
      </transition>

    </main>

  </Layout>
</template>

<page-query>
  query {
    allBlogPost(perPage: 6 skip:1) {

      edges {
        node {
          id
          title
          summary
          date (format: "D MMMM YYYY")
          path
          tags {
            title
            path
            id
          }
          post_thumb
        }
      }
    }
  }

</page-query>


<script>
import BlogList from '~/components/BlogList'
import Hero from '~/components/Hero'
import LatestPost from '~/components/LatestPost'
export default {
  metaInfo: {
    title: 'chrisace.dev -- Personal blog',
    meta: [
      { name: 'author', content: 'Christian Ferrer' },
      { key: 'description', name: 'description', content: 'A site and blog about random things' }
    ],
  },
  components: {
    caPosts: BlogList,
    caHero: Hero,
    caLatestPost: LatestPost,
  },

}
</script>

<style scoped>
  .ca-home-posts {
    padding: 3rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  .ca-home-posts__title {
    margin-bottom: 3rem;
    text-align: center;
  }
  @media screen and (min-width: 992px) {
  .ca-posts--home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
</style>
