<template>
  <Layout>
    <ca-hero>
      <h1 class="ca-hero__h1">All Posts</h1>
    </ca-hero>

    <transition name="fade" appear>
      <div class="ca-wrap">
        <main class="ca-main">
          <blog-list 
          :showPager="true" 
          :postsInfo="$page.allBlogPost.edges" 
          :pagerInfo="$page.allBlogPost.pageInfo"
        />
        </main>

        <aside class="ca-sb">
          <h3>Stuff I ramble about</h3>
          <ul class="ca-tags">
            <li class="ca-tags__tag" v-for="tag in $page.allTag.edges" :key="tag.node.id">
              <g-link class="ca-tags__link" :class="`ca-tags__link--${tag.node.id}`" :to="tag.node.path">{{ tag.node.id }}</g-link>
            </li>
          </ul>
          
        </aside>
      </div>
    </transition>
    

  </Layout>
</template>

<page-query>
  query ($page: Int) {
    allBlogPost(perPage: 10, page: $page) @paginate {
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          id
          title
          summary
          date (format: "D MMMM YYYY")
          path
          post_thumb
          tags {
            title
            path
            id
          }
        }
      }
    }
    allTag {
      totalCount
      edges {
        node {
          id
          path
        }
      }
    }
  }

</page-query>

<script>
import BlogList from '~/components/BlogList'
import Hero from '~/components/Hero'
// import { Pager } from 'gridsome'
export default {
  metaInfo: {
    title: 'All Posts',
    meta: [
      { key: 'description', name: 'description', content: 'All posts on this site' }
    ],
  },
  components: {
    BlogList,
    // Pager,
    caHero: Hero,
  }
}
</script>

<style scoped>
  .ca-wrap {
    padding: 3rem 2rem;
  }
  .ca-hero__h1 {
    margin: 0;
    text-align: center;
  }

  @media screen and (min-width: 992px) {
    .ca-wrap {
      max-width: 1000px;
      margin: 0 auto;
      padding: 3rem 3rem;
      display: grid;
      grid-template-columns: 1fr 15rem;
      width: 100%;
      grid-gap:3em;
    }
  }

  .ca-tags {
    display: flex;
  }
  .ca-tags__tag {
    list-style: none;
    margin: 0 5px 5px 0;
  }
  .ca-tags__link {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--primary);
    transition: 0.1s ease;
  }
  .ca-tags__link:hover {
    background: var(--primary);
    color: white;
  }
</style>