<template>
  <section class="ca-posts" :class="`ca-posts--${customClass}`" >
    <article class="ca-post" v-for="post in postsInfo " :key="post.node.id">
      <figure class="ca-post__img-wrap">
        <g-link class="ca-post__img-link" :to="post.node.path"><img class="ca-post__img" :src="imgTransform(post.node.post_thumb)" :alt="post.node.title"></g-link>
      </figure>
      <div class="ca-post__info">
        <h3 class="ca-post__title"><g-link class="ca-post__title-link" :to="post.node.path">{{post.node.title}}</g-link></h3>
        <div class="ca-post__meta">
          <div class="ca-post__date" v-html="post.node.date" />
          <div class="ca-post__tags" v-for="(tag, index) in post.node.tags " :key="index"><g-link :to="tag.path" class="ca-post__tag">{{tag.id}}</g-link></div>
        </div>
        
        <p class="ca-post__descr" v-html="post.node.summary" />
      </div>
      
    </article class="ca-post">
    <div class="ca-posts-pager" v-if="showPager && pagerInfo.totalPages > 1">
      <ca-pager :info="pagerInfo" class="ca-pager" nextLabel="Next" prevLabel="Prev" />
    </div>
  </section>
  
</template>


<script>
import { Pager } from 'gridsome'
export default {
  components: {
    caPager: Pager
  },
  props: {
    pagerInfo: Object,
    postsInfo: Array,
    showPager: Boolean,
    delFirstPost: Boolean,
    customClass: String
  },
  data() {
    return {
      cloudinaryUrl: 'https://res.cloudinary.com/chrisace/image/upload/',
      cloudinaryTransformation: 'w_200,f_auto,q_auto,ar_1:1,c_fill',
      firstPost: null,
      morePostsLength: null,
      postsInfo2: null,
      postsCounter: null,
      deleted: false
    }
  },
  methods: {
    imgTransform(e) {
      const imgUrl = e.split("/image/upload/");
      // console.log(imgUrl);
      return `${imgUrl[0]}/image/upload/${this.cloudinaryTransformation}/${imgUrl[1]}`
    },
  },

};
</script>


<style scoped>
.ca-post__img-wrap {
  line-height: 0;
}
.ca-post__img {
  border-radius: 50%;
}
.ca-post {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.ca-posts-pager {
  border-top: 1px solid var(--light2);
  padding: 1em 0;
  margin-top: 1em;
}
.ca-post__meta {
  display: flex;
  color: var(--mid3);
  font-size: .85em;
}
.ca-post__tags {
  margin-left: .5rem;
  padding-left: .5rem;
  border-left: 1px solid var(--mid1);
}
.ca-post__title {
  margin: 0 0 .5rem ;
}
.ca-pager {
  text-align: center;
}
.ca-pager > a {
  margin: 0 .5rem .5rem 0;
  display: inline-block;
  /* color: white; */
  /* background: var(--primary); */
  padding: .5em;
  line-height: 1;
  border-radius: 3px;
  border: 1px solid var(--primary);
  transition: 0.1s ease;
}
.ca-pager > a:hover,
.active--exact {
  background: var(--primary);
  color: white;
}


@media screen and (min-width: 992px) {
  /* .ca-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  } */
}
  
</style>