<template>
  <figure class="ca-card" :class="customClass ? 'ca-card--'+customClass : 'ca-card'">
    <g-image class="ca-card__img" width="25" :src="require('!!assets-loader!~/images/' + cardImg)"  :alt="cardTitle"  />
    <figcaption class="ca-card__info">
      <h3 class="ca-card__title">{{ cardTitle }}</h3>
      <p class="ca-card__descr">{{ cardDescr }}</p>
    </figcaption>
  </figure>
</template>

<script>
export default {
  props: {
    cardTitle: String,
    cardDescr: String,
    cardImg: String,
    customClass: String,
  },
}
</script>

<style scoped>
  .ca-card {
    margin-bottom: 2rem;
  }
  .ca-card__img {
    border-radius: 50%;
    max-width: 225px;
    display: block;
    margin: 0 auto .5em;
  }
</style>