<template>
  <header class="ca-hdr">
    <!-- <transition name="fade" appear> -->
    <div class="ca-hdr__main">
      <!-- <g-image alt="Christian Ferrer Blog" src="~/images/logo-official.svg" width="135" immediate="true" /> -->
      <g-link to="/" title="chrisace home">
        <svg class="ca-hdr__logo" width="81" height="67" viewBox="0 0 81 67" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M44.6224 36.443C45.4272 36.1134 62.6906 51.3128 62.6906 51.3128H81C81 51.3128 62.8508 30.6255 54.7958 27.1346C55.9944 29.7514 55.1312 31.6673 55.1312 31.6673C53.5029 28.8132 43.8252 19.1129 42.3382 19.5123C35.8343 22.3175 30.8362 33.8753 26.8614 44.2104C24.5509 43.9071 22.6417 43.585 21.5373 43.2534C14.8185 40.9023 12.9697 34.8587 12.9697 34.8587C13.8875 35.5501 16.4431 37.8032 17.7642 38.1555C17.6493 37.9841 17.5381 37.8108 17.4288 37.6318C16.2527 35.7083 15.5498 33.6322 15.2821 31.5336C15.0635 29.4292 15.2727 27.2477 15.9795 25.1075C18.6613 16.9747 27.4306 12.5512 35.5685 15.232C35.6552 15.2603 35.7344 15.3018 35.8211 15.3319L50.6043 7.87913L50.6231 7.8245C47.6247 5.17571 44.057 3.07515 40.0144 1.74322C31.8765 -0.939472 24.5395 -0.560805 17.5041 3.12225C19.7148 3.83437 21.5354 4.96848 21.5354 4.96848C18.8121 4.4749 13.8083 5.30382 10.9719 7.28947C3.27877 13.6741 -0.712922 23.4308 0.105017 33.2159H0.0993633C0.103133 33.2404 0.106902 33.263 0.110671 33.2875C0.112556 33.312 0.114441 33.3346 0.116325 33.3591H0.121979C1.65043 43.6716 8.45026 52.7182 18.3202 56.8967C18.3277 56.9005 18.3372 56.9042 18.3447 56.908C18.5105 56.9777 18.6764 57.0474 18.8422 57.1134C19.01 57.1812 19.1777 57.2471 19.3454 57.3112C19.3605 57.3168 19.3737 57.3225 19.3888 57.3281C20.0145 57.5674 21.4299 57.9159 21.4299 57.9159L21.4204 57.9347C21.4204 57.9347 25.0409 59.0651 27.3062 58.839C27.3062 58.839 23.5313 61.4049 20.022 60.885C18.2693 64.6358 17.6719 66.0638 17.6719 66.0638L34.8656 60.7003L51.2621 46.0058C51.2621 46.0058 44.8222 47.0928 40.5195 46.7594C42.2949 42.0515 44.3058 36.5711 44.6224 36.443Z" fill="white"/>
        </svg>
      </g-link>
      
      <cf-navi />
    </div>
    <!-- </transition> -->
    
  </header>
</template>
  
<script>
import Navi from '~/components/Navi'
export default {
  components: {
    cfNavi: Navi,
  }
}
</script>

<style scoped>
.ca-hdr {
  position: relative;
  background: var(--dark1);
  padding: 2em 0;
  background: var(--dark1);
  z-index: 2;
}
/* .ca-hdr__main {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
  margin: 0 auto;
  padding: 0 2rem;
} */
.ca-hdr__main {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}

</style>