<template>
  <div class="ca-hero" :class="customClass ? `ca-hero--${customClass}`: '' ">
    <div class="ca-hero__content">
      <div class="ca-hero__container">
        <transition name="fade2" appear>
          <slot />
        </transition>
        <transition name="fade2" appear>
          <section v-if="templateContent" class="ca-hero-post">
            <h1 v-if="latestPost" class="ca-hero-post__heading">{{ latestPostH1 }}</h1>
            <figure class="ca-hero-post__img-wrap">
              <g-image v-if="imgSrc" class="ca-hero-post__img" :src="require('!!assets-loader!~/images/' + imgSrc)" width="500"  :alt="h1"  />
              <img v-if="cloudinaryImg" :src="cloudinaryImg" :alt="h1"  class="ca-hero-post__img">
            </figure>
            <div class="ca-hero-post__info">
              <h1 v-if="h1" class="ca-hero-post__title">{{ h1 }}</h1>
              <h2 v-if="latestPost" class="ca-hero-post__title">
                <g-link class="ca-hero-post__title-link" :to="latestPostPath">{{latestPostTitle}}</g-link>
              </h2>
              <div v-if="date" class="ca-hero-post__meta">
                <div class="ca-hero-post__date" v-html="date" />
                <div class="ca-hero-post__tags" v-for="(tag, index) in tags " :key="index"><g-link :to="tag.path" class="ca-hero-post__tag">{{tag.id}}</g-link></div>
              </div>
              <p class="ca-hero-post__descr">{{ summary }}</p>
            </div>
          </section>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    customClass: String,
    templateContent: Boolean,
    h1: String,
    imgSrc: String,
    summary: String,
    cloudinaryImg: String,
    date: String,
    tags: Array,
    latestPost: Boolean,
    latestPostH1: String,
    latestPostPath: String,
    latestPostTitle: String
  }

}
</script>

<style scoped>
h1,h2,h3,h4,h5,h6 {
  color: var(--light1);
}
.ca-hero {
  position: relative;
  color: var(--light1);
  z-index:1;
}
.ca-hero__content {
  background: var(--dark1);
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0% 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% calc(80% - 3vw), 0% 100%); */
  z-index: 3;
  overflow: hidden;
  padding-bottom: calc(1rem + 10vw);
}
.ca-hero::before,
.ca-hero::after {
  content:'';
  background: var(--dark2);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 3rem;
}
.ca-hero::before {
  left: 0;
  transform: skewY(-8deg);
  transform-origin: top left;
}
.ca-hero::after {
  right: 0;
  background: var(--dark3);
  transform: skewY(10deg);
  transform-origin: top right;
  z-index: -2;
  top: 2rem;
  width: 50%;
}
.ca-hero__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}


.ca-hero-post {
  overflow: hidden;
}
.ca-hero-post__img-wrap {
  text-align: center;
}
.ca-hero-post__img,
.ca-hero-post__img-wrap img {
  border-radius: 50%;
  max-width: 300px;
  width: 100%;
}
.ca-hero-post__descr {
  color: var(--mid3);
  font-size: 1.2em;
}
.ca-hero-post__meta {
    display: flex;
    font-size: .85em;
    opacity: 0.5;
  }
.ca-hero-post__tags {
  margin-left: .5rem;
  padding-left: .5rem;
  border-left: 2px solid var(--mid3);
}
.ca-hero-post__heading,
.ca-hero-post__title {
  margin: 0 0 1rem;
}

@media screen and (min-width: 768px) {
  .ca-hero-post {
    display: grid;
    grid-template-columns: minmax(80px, 300px) 1fr;
    grid-template-rows: auto 1fr; 
    grid-gap: 0 2em;
    align-items: center;
  }
  .ca-hero-post__img-wrap {
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
    line-height: 1;
  }
  .ca-hero-post__heading {
    grid-column: 2;
    align-self: start;
  }
  .ca-hero-post__info {
    align-self: stretch;
  }

  .ca-hero::after {
    top: -3rem;
    width: 40%;
  }
}

</style>