<template>

  <div class="ca-latest">
    <ca-hero
      v-for="post in $static.allBlogPost.edges" :key="post.node.id"
      :templateContent="true" 
      :latestPost="true"
      customClass="latest-post" 
      :cloudinaryImg="imgTransform(post.node.post_thumb)" 
      :summary="post.node.summary"
      :date="post.node.date"
      :tags="post.node.tags"
      :latest="true"
      :latestPostH1="postHeading"
      :latestPostPath="post.node.path"
      :latestPostTitle="post.node.title"
    />

  </div>
  
  
</template>

<static-query>
  query {
    allBlogPost(perPage: 1, ) {
      edges {
        node {
          id
          title
          summary
          date (format: "D MMMM YYYY")
          path
          post_thumb
          tags {
            title
            path
            id
          }
        }
      }
    }
  }

</static-query>

<script>
import Hero from '~/components/Hero'
export default {
  components: {
    caHero: Hero,
  },
  props: {
    postHeading: String
  },
  data() {
    return {
      cloudinaryUrl: 'https://res.cloudinary.com/chrisace/image/upload/',
      cloudinaryTransformation: 'w_600,f_auto,q_auto,ar_1:1,c_fill'
    }
  },
  methods: {
    imgTransform(e) {
      const splitter = '/image/upload/'
      const imgUrl = e.split(splitter);
      return `${imgUrl[0]}${splitter}${this.cloudinaryTransformation}/${imgUrl[1]}`
    },
  }
};
</script>

<style scoped>

  
</style>