<template>
  <ul class="ca-list"  >
    <li class="ca-list__item" :class="printKeys ? 'ca-list__item--keys' : 'ca-list__item'" v-for="(item, key, index) in listItems" :key="index">
      <span class="ca-list__key" v-if="printKeys">{{ key }}</span>
      <span class="ca-list__value">{{ item }}</span>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    listItems: [Array, Object],
    printKeys: Boolean
  },
}
</script>

<style scoped>
  .ca-list__item {
    list-style: none;
    font-size: .9em;
    padding: .25em;
    border-bottom: 1px dotted var(--light1);
  }
  .ca-list__item--keys {
    display: grid;
    grid-template-columns: 10ch 1fr;
    grid-gap: .5rem;
  }
</style>