<template>
  <nav class="ca-nav">
    <g-link class="ca-nav__link" to="/posts/">Posts</g-link>
    <g-link class="ca-nav__link" to="/about/">About</g-link>
    <g-link class="ca-nav__link" to="/gear/">Gear</g-link>
  </nav>
</template>

<script>
export default {

}
</script>

<style scoped>
.ca-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ca-nav__link {
  margin-left: 1em;
  color: white;
  text-decoration: none;
}
</style>