<template>
  <div id="app">
    <!-- <cf-hdr /> -->
    <!-- <transition name="fade" appear> -->
      <router-view />
    <!-- </transition> -->
    <!-- <cf-ftr /> -->
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<script>
// import Hdr from '~/components/Hdr'
// import Ftr from '~/components/Ftr'
export default {
  // components: {
  //   cfHdr: Hdr,
  //   cfFtr: Ftr,
  // },
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$static.metadata.siteDescription
        }
      ]
    }
  }
}
</script>

<style>
.fade-enter-active {
  transition: all .5s;
  transform: translateY(0);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-1rem);
}
.fade2-enter-active {
  transition: all .5s;
  transform: translateY(0);
}

.fade2-enter {
  opacity: 0;
  transform: translateY(1rem);
}
</style>