<template>
  <div class="cf">
    <cf-hdr />
      <slot/>
    <cf-ftr />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import Hdr from '~/components/Hdr'
import Ftr from '~/components/Ftr'
export default {
  components: {
    cfHdr: Hdr,
    cfFtr: Ftr,
  }
}
</script>

<style>
:root {
  --dark1: #252525;
  --dark2: #434343;
  --dark3: #666666;
  --primary: #E4986D;
  --light1: #CCC;
  --light2: #EEE;
  --light3: #f4f4f4;
  --mid1: #AAA;
  --mid2: #999;
  --mid3: #888;
}

.cf {
  position: relative;
  overflow-x: hidden;
}
.cf::before {
  content:'';
  width: 110%;
  height: 540px ;
  top: 50%;
  transform: translateY(-50%) rotate(-6deg);
  display: block;
  left: -5%;
  position: absolute;
  background: linear-gradient(to right, var(--light2), transparent);
  z-index: -1;

}
/* .cf::after {
  content:'';
  width: 110%;
  height: 540px !important;
  bottom: 0;
  transform:  rotate(-46deg);
  display: block;
  right: -25%;
  position: absolute;
  background: linear-gradient(to left, transparent, var(--light3));
  z-index: -1;

} */
.cf::after {
  content:'';
  width: 50%;
  height: 400px;
  bottom: 0;
  transform: translateY(-80%) rotate(-46deg);
  display: block;
  right: 0;
  position: absolute;
  background: linear-gradient(to left, var(--light2),transparent);
  z-index: -1;
  /* outline: 1px solid red; */

}

</style>
